main {
  font-family: 'Sen', sans-serif;
}
div {
  display: flex;
  justify-content: space-around;
}
section {
  width: 200px;
  text-align: center;
}
img {
  width: 150px;
  margin: 0px;
}
img:hover {
  width: 200px;
}
a {
  display: block;
}